@model IEnumerable<highfieldtest.Models.ResponseDtoViewModel>


@{
    ViewBag.Title = "Highfield Test";
}

<h2>Favourite Colours and their quantities</h2>

<table class="table">
    <tr>
        <th>
            User Identifier
        </th>
        <th>
            Original Age
        </th>
        <th>
            Age Plus Twenty 
        </th>
    </tr>

    @foreach (var item in Model.GetEnumerator().Current.Ages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgePlusTwenty)
            </td>
        </tr>
    }

</table>

<h2>Users, their ages and their ages plus twenty</h2>

<table class="table">
    <tr>
        <th>
            Colour
        </th>
        <th>
            Quantity of the Colour
        </th>
    </tr>

    @foreach (var item in Model.GetEnumerator().Current.Colours)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }

</table>
